<mat-toolbar>
    <h2> Clients</h2>
   <!-- <mat-form-field color="accent">
      <input matInput (keyup)="filterText($event)" placeholder="Item Filter" />
    </mat-form-field>-->
    <div class="menu-bar">
    <button mat-button (click) ="openFormDialog($event.target.value)">
      New Client
    </button>
    </div>
  </mat-toolbar>

<div class="table-container mat-elevation-z8">
    <div clas="mat-elevation-z8">
        <div class="loading-shade" *ngIf="resultsLoading">
          <mat-spinner *ngIf="resultsLoading"></mat-spinner>
        </div>
    </div>
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef sticky=true> FirstName </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{client.firstName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef sticky=true> LastName </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{client.lastName}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef sticky=true> Email </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{client.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef sticky=true> Action </mat-header-cell>
        <mat-cell *matCellDef="let client">           
            <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click) = "openFormDialog(client._id)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteBtnHandler(client._id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu> 
      </mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
